<div class="container-fluid">
  <h3 style="text-align:center;">Weather App</h3>
  <div class="row">
    <div class="col-4" style="border-style: groove; padding-top: 10px;">
      <form [formGroup]="addCityForm" (ngSubmit)="onAdd()">
        <input formControlName="city" type="text" required class="me-2" placeholder="Type City Name">
        <button class="btn btn-primary" type="submit"><i class="bi bi-plus-lg"></i></button>
      </form>
      <hr style="height: 3px;">
      <p style="color: red;" *ngIf="error">{{ error }}</p>
      <b>Recent Locations</b>
      <hr>
      <ul style="list-style: none; padding-left:0">
        <li *ngFor="let city of cityLocations; let i = index" (click)="getWeatherUpdates(i)">
          {{ city.name }} - {{ city.main.temp }}C   {{ city.weather[0].main }} <img src="http://openweathermap.org/img/wn/{{ city.weather[0].icon }}@2x.png" alt="{ city.weather[0].main }}" width="50" height="50">
          <div style="float: right;">
            <span (click)="getWeatherUpdates(i)" style="cursor:pointer;"><i class="bi bi-arrow-repeat"></i></span>
            <span (click)="removeCity(i)" style="cursor:pointer; padding-left: 10px;">X</span>
          </div>
          <hr>
        </li>
      </ul>
      <button type="button" class="btn btn-secondary m-1" style="float: right;" (click)="clearList()">Clear</button>
    </div>
    <div class="col-8" style="border-style: groove;" *ngIf="cityWeather">
      <h3>
        {{ city }}
        <span (click)="refreshStatus()" style="cursor:pointer; float: right;"><i class="bi bi-arrow-repeat"></i></span>
      </h3>
      <div class="row" *ngFor="let t of weather">
        <div class="col">
          <img src="http://openweathermap.org/img/wn/{{ t.icon }}@2x.png" alt="{ t.main }}" width="200" height="200">
        </div>
        <div class="col">
          <p>{{ current.temp }}C</p>
          <p *ngFor="let t of weather">{{ t.description }}</p>
          <p>{{ current.wind_speed }}ms {{ current.wind_deg }}deg</p>
          <p>Pressure {{ current.pressure }}</p>
        </div>
      </div>
      <div class="row" >
        <div class="col" *ngFor="let d of dailyWeather" style="display: inline-block;">
          {{ d.dt*1000 | date:'EE dd':'+5:30'}}
          <img  *ngFor="let x of d.weather" src="http://openweathermap.org/img/wn/{{ x.icon }}@2x.png" alt="{ x.main }}" width="50" height="50">
          {{ d.temp.max }}C
        </div>
      </div>
    </div>
  </div>
</div>